{% extends 'base_generic.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3 shadow">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Registration Info</h3>

            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="form-outline">
                  {{ form.username.label_tag }}
                  {{ form.username }}
                </div>
              </div>
              <div class="mb-4">
                <div class="form-outline">
                  {{ form.email.label_tag }}
                  {{ form.email }}
                </div>
              </div>
              <div class="mb-4">
                <div class="form-outline">
                  {{ form.password1.label_tag }}
                  {{ form.password1 }}
                </div>
              </div>
              <div class="mb-4">
                <div class="form-outline">
                  {{ form.password2.label_tag }}
                  {{ form.password2 }}
                </div>
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
